__pycache__/
.espressodb
espressodb.egg-info/
.ipynb_checkpoints
.eggs
build/
dist/
*.sqlite
htmlcov/
.coverage
paper.pdf
sample_joss_paper/
arXiv/lattedb-example.png
arXiv/paper.aux
arXiv/paper.bcf
arXiv/paper.log
arXiv/paper.out
arXiv/paper.run.xml
arXiv/paper.synctex.gz
arXiv/paper_body.tex
doc-src/arXiv.tgz
