{% extends 'base.html' %}
{% load static %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'bokeh/bokeh-1.0.0.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'bokeh/bokeh-widgets-1.0.0.min.css' %}" type="text/css" />
{% endblock%}

{% block content %}
<div class="jumbotron">
    <h1>{{correlator}}</h1>
</div>
<div class="container">
    {{ div | safe }}
    <script type="text/javascript" src="{% static 'bokeh/bokeh-1.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bokeh/bokeh-widgets-1.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bokeh/bokeh-api-1.0.0.min.js' %}"></script>
    {{ script | safe }}
</div>
{% endblock %}
