<ul class="navbar-nav">
{% for app_name, links in urls.items %}
    <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       {{app_name}}
     </a>
     <div class="dropdown-menu">
     {% for link_name, reverse_link in links %}
       <a class="dropdown-item" href="{% url reverse_link %}">{{link_name}}</a>
     {% endfor%}
     </div>
    </li>
{% endfor %}
{% if documentation %}
<li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
   Documentation
 </a>
 <div class="dropdown-menu">
 {% for link_name, reverse_link in documentation %}
   <a class="dropdown-item" href="{% url 'documentation:details' reverse_link %}">{{link_name}}</a>
 {% endfor%}
 </div>
</li>
{% endif %}
<li class="nav-item">
</li>
    <a class="nav-link" href="{% url 'base:populate' %}">
      Populate
    </a>
<li class="nav-item">
   <a class="nav-link" href="{% url 'admin:index' %}">
     Admin
   </a>
</li>
</ul>
