{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load widget_tweaks %}

<div class="jumbotron">
    <h1>
        {{root}} population script
    </h1>
</div>
<div class="container">
    {% if tree %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th>column</th>
              <th>table</th>
            </tr>
        </thead>
        <tbody>
            {% for key, val in tree.items %}
            <tr>
                <td>{{key}}</td><td>{{val}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}
