{% extends 'base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load base_extras %}

{% block content %}

{% if tree %}
<div class="jumbotron">
    <h1>
        {{root}} population script
    </h1>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>column</th>
              <th>table</th>
            </tr>
        </thead>
        <tbody>
            {% for key, val in tree.items %}
            <tr>
                <td>{{key}}</td><td>{{val}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div class="container">
    <h2>Here is a python script which populates the table</h2>
    {% render_tree tree %}
</div>
{% else %}
<div class="container">
    <h2>Something went wrong &mdash; please contact the admins</h2>
</div>
{% endif %}

{% endblock %}
