{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron">
    <h1>
        {% if not request.session.root %}
            Which table do you want to populate?
        {% else %}
            Populating {{request.session.root}}
        {% endif %}
    </h1>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-6">
        <ul>
        {% for key, val in request.session.tree.items %}
            <li>{{key}} - {{val}}</li>
        {% endfor %}
            <li>
                <form action="{{form.success}}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form inline=True%}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            </li>
        </ul>
</div>
</div>
</div>

{% endblock %}
