
<div class="progress">
    {% if danger > 0 %}<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: {{danger}}%" aria-valuenow="{{danger}}" aria-valuemin="0" aria-valuemax="100"></div>{% endif %}
    {% if warning > 0 %}<div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{warning}}%" aria-valuenow="{{warning}}" aria-valuemin="0" aria-valuemax="100"></div>{% endif %}
    {% if info > 0 %}<div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{info}}%" aria-valuenow="{{info}}" aria-valuemin="0" aria-valuemax="100"></div>{% endif %}
    {% if success > 0 %}<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: {{success}}%" aria-valuenow="{{success}}" aria-valuemin="0" aria-valuemax="100"></div>{% endif %}
</div>
