{% extends "base.html" %}
{% load status_extras %}

{% block content %}
<div class="jumbotron">
    <h1><code>{{ class }}</code> progress view</h1>
</div>
<div class="container">

    {% if summary %}
    <h1>Listed by <code>{{ subcategory }}</code></h1>
    {% for object, progress in summary.items %}
    <div class="card my-3" style="border-left: 5px solid {% if progress.success == progress.total %}#5CB85C{% else %}#d9534f{% endif %};">
        <div class="card-body">
        <h4 class="card-title">{{object | safe}}</h4>
        <h5 class="card-subtitle mb-2 text-muted">Progress (total={{progress.total}})</h5>
        <ul class="pagination">
            <li class="page-item"><a class="page-link text-danger">Does not exist: {{progress.danger}}</a></li>
            <li class="page-item"><a class="page-link text-warning">Unknown: {{progress.warning}}</a></li>
            <li class="page-item"><a class="page-link text-info">On tape: {{progress.info}}</a></li>
            <li class="page-item"><a class="page-link text-success">On filesystem: {{progress.success}}</a></li>
        </ul>
        {% render_progress_bar progress.danger progress.warning progress.info progress.success progress.total  %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>No data!</h1>
    {% endif %}

</div>
{% endblock %}
