{% extends 'base.html' %}
{% load static %}
{% load base_extras %}


{% block head-extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/prettify.css'%}">
<script type="text/javascript" src="{% static 'js/prettify.js'%}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to {% project_name %}</h1>
    <h5>To change this page, create a <code>template/index.html</code> template in one of you app directories</h2>
        <p>See also the <a href="https://docs.djangoproject.com/en/dev/ref/templates/language/">the django template documentation</a></p>
</div>
<div class="container">
    <h2>This is what this file looks like</h2>
    <pre class="prettyprint lang-html">{% verbatim %}
{% extends 'base.html' %}
{% load static %}
{% load base_extras %}

{% block content %}
&lt;div class="jumbotron"&gt;
    &lt;h1&gt;Welcome to {% project_name %}&lt;/h1&gt;
    &lt;h5&gt;To change this page, create a &lt;code&gt;template/index.html&lt;/code&gt; template in one of you app directories&lt;/h2&gt;
    &lt;p&gt;
        See also the
        &lt;a href="https://docs.djangoproject.com/en/dev/ref/templates/language/"&gt;
            the django template documentation
        &lt;/a&gt;
    &lt;/p&gt;
&lt;/div&gt;
&lt;div class="container"&gt;
    &lt;h2&gt;This is what this file looks like&lt;/h2&gt;
    &lt;pre&gt;&lt;code&gt;
        ...
    &lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;
{% endblock %}

{% endverbatim %}</pre>
</div>


<script type="text/javascript">
    $(window).on('load', function() {
        PR.prettyPrint();
    });
</script>
{% endblock %}
