name: Tests

on: [pull_request]

jobs:
    test:
        strategy:
            max-parallel: 4
            matrix:
                python-version: [3.6, 3.7]
                platform: [ubuntu-latest, macos-latest, windows-latest]
                django-version: [2.2.*, 3.*]
        runs-on: ${{ matrix.platform }}
        steps:
            - uses: actions/checkout@v1

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v1
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies (using Django ${{ matrix.django-version }})
              run: |
                  python -m pip install --upgrade pip
                  pip install Django==${{ matrix.django-version }}
                  pip install -r requirements.txt
                  pip install -r requirements-dev.txt

            - name: Install espressodb
              run: pip install -e .

            - name: Install my_project dependencies
              run: pip install -r ./example/my_project/requirements.txt

            - name: Run my_project test
              working-directory: ./example/my_project/
              run: pytest

            - name: Run espressodb tests
              working-directory: ./tests/espressodb_tests/
              run: pytest

            - name: Run migration check tests
              working-directory: ./tests/migration_tests/
              run: |
                pytest tests/test_state1.py
                pytest tests/test_state2.py
                pytest tests/test_state3.py
                pytest tests/test_state4.py

            - name: Run create new project
              working-directory: ./tests/
              run: espressodb startproject espressodb_new_test

            - name: Test new project
              working-directory: ./tests/espressodb_new_test/
              run: python manage.py test

            - name: Run start app
              working-directory: ./tests/espressodb_new_test/
              run: |
                python manage.py startapp new_app
                echo "" >> espressodb_new_test/new_app/models.py
                echo "class MyTable(Base):" >> espressodb_new_test/new_app/models.py
                echo "    name=models.TextField()" >> espressodb_new_test/new_app/models.py
                sed -i -e "s/PROJECT_APPS: \[\]/PROJECT_APPS: \[espressodb_new_test.new_app\]/g" settings.yaml
                python manage.py makemigrations

            - name: Test new project app
              working-directory: ./tests/espressodb_new_test/
              run: python manage.py test
